.rent-edit-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rent-edit-form {
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    width: 600px;
}